.calendario {
  text-align: center;
  width: 75%;
}

::-webkit-scrollbar {
  width: 0.2em;
}

::-webkit-scrollbar-thumb {
  background: var(--cor-primaria-azul-escuro);
  border-radius: 10px;
}

.rbc-toolbar {
  font-size: 14px;
  font-weight: normal;
}

.rbc-btn-group button {
  font-size: 12px; 
}

.rbc-toolbar-label {
  font-size: 14px; 
}

.rbc-btn-group button {
  font-size: 12px;
}

.rbc-month-row {
  height: 150px; 
}

@media (max-width: 480px) {
  .calendario {
    width: 100%;
  }
}

