.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loading-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters-container {
  display: flex;
}

.container-searchBar {
  display: flex;
  gap: 2em;
  margin-top: 1em;

  .container-form {
    width: 25%;
  }
  .input-icon-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  .form-control-input {
    height: 1.7em;
    background-color: #d9d9d947;
    font-size: 0.8em;
    font-weight: 400;
    padding: 1em 1em 1em 2.5em;
    width: 100%;
  }

  .search-icon {
    position: absolute;
    left: 0.5em;
    font-size: 1em;
    color: #888;
    pointer-events: none;
  }
}

.container-searchBar-dropfilter {
  display: flex;
  align-items: center;
  gap: 0.8em;

  h5 {
    font-size: 0.8em;
    font-weight: 400;
  }
}
