.container-searchBar{
    width: 400px;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.loading-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}