.container {
    padding: 5px;
    background-color: "#007bff";
    border-radius: 3px;
    color: #FFF;

    h3 {
        font-size: 10px;
    }
}

.container-status {
    display: flex;
    justify-content: space-between;
}

.container-hours {
    display: flex;
}

.container-icon {
    background-color: #FFF;
    padding: 1px 5px;
    border: 1px solid var(--cor-primaria-azul-escuro);
    border-radius: 19px;
}