.row1 {
  display: grid;
  grid-template-columns: 49% 49%;
  gap: .6em;
}

.row2 {
  display: flex;
  width: 100%;
}

.row3 {
    display: grid;
    align-items: self-end;
    grid-template-columns: 60% 38%;
    gap: .6em;
}

.row4 {
    label {
        font-size: 0.76em;
        font-weight: 700;
        color: #545a67;
      }
    
      textarea {
        font-size: 0.8em;
        margin: 0;
        background-color: #fff;
        border: 1px solid #d0d5dd;
        border-radius: 7px;
        font-weight: 500;
        color: #5c6577;
        padding: 0.4em 0.6em;
        text-align-last: start;
        display: flex;
        align-items: center;
        gap: 0.6em;
        width: 100%;
        height: 20vh;
      }
}
.row1 {
  .container-dropdown {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
}
