.container-main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
}

.section01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.custom-btn {
  display: flex;
  background-color: var(--cor-primaria-azul-escuro);
  color: white;
  column-gap: 7.5px;
  align-items: center;
  border: none;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 0.8em;
  padding: 0.3em 0.8em;
  border-radius: 0.35em;
  margin-bottom: 1em;
  transition: all 0.5s;
}

.user-photo {
  width: 150px;
  height: 128px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-photo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.buttons-container {
  display: flex;
  gap: 8px;
  margin-top: -30px;
  z-index: 2;
  transform: translate(30px, -90px);
}

.btn-upload,
.btn-delete {
  background-color: #FFD269;
  color: var(--cor-primaria-azul-escuro);
  border: none;
  border-radius: 8px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
  z-index: 3;
}

.btn-upload:hover {
  opacity: .6;
  transition: all 0.5 s;
}

.btn-delete:hover {
  opacity: .6;
  transition: all 0.5 s;
}

.container-inputs {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 50px;
}

.container-inputs span {
  font-size: 14px;
  margin-bottom: 1px;
}

.container-inputs input {
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 15px;
  flex: none;
}

.input-nome {
  width: 300px;
  height: 40px;
}

.input-e-mail {
  width: 250px;
  height: 36px;
}

.select-cargo {
  width: 220px;
  height: 36px;
  border-radius: 6px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  background-color: white;
  cursor: pointer;
}

.button-container {
  margin-top: 25px;
}

@media (max-width: 600px) {
  .user-photo {
    width: 120px;
    height: 100px;
  }

  .btn-upload,
  .btn-delete {
    width: 25px;
    height: 25px;
    font-size: 14px;
  }
}