.container {
  margin-left: 1.5%;
}

.main-container {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.calendario-container {
  width: 73%;
}
.kpis-container {
  width: 31%;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .first-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .6em;
    h3 {
      font-size: 0.9rem;
      font-weight: 700;
      font-family: 'Montserrat';
      align-self: center;
    } 
  }
}

.second-container {
  display: flex;
  flex-direction: column;
  gap: 0.8em;

  h3 {
    font-size: 0.9rem;
    font-weight: 700;
    font-family: 'Montserrat';
    align-self: center;
  }
}

@media (max-width: 480px) {
  .main-container {
    flex-direction: column;
    margin-top: 4em;
  }

  .kpis-container {
    width: 100%;

    .first-container {
      margin-bottom: 1em;
    }
  }
}

