.container {
  margin: 0 3.5% 5%;
}

.main-container {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.calendario-container {
  width: 73%;
}
.kpis-container {
  width: 31%;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .first-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.second-container {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

@media (max-width: 480px) {
  .main-container {
    flex-direction: column;
    margin-top: 4em;
  }

  .kpis-container {
    width: 100%;

    .first-container {
      margin-bottom: 1em;
    }
  }
}


