.container {
    width: 100%;
    /* display: flex; */
    padding-top: 5px; 
    overflow: hidden;
    font-family: 'Montserrat';
}

.container-texto {
    width: 100%;
    /* padding-left: 90px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-top: 4em;
    margin-left: 4em; 
    color: var(--cor-primaria-azul-escuro);

    h1 {
        font-size: 3.00em;
        line-height: 46px;
        font-weight: 900;
    }

    button {
        outline: none;
        padding: 8px 26px; 
        width: fit-content;
        font-weight: 800;
        font-size: 0.9em;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        border: none;
        border-radius: 2em;
        background: linear-gradient(to bottom, var(--cor-secundaria-amarelo-claro), #F3B72C);
        cursor: pointer;
        transition: all 0.8s ease-in-out;
    }

    button:hover {
        padding: 12px 40px;
    }
}

.container-texto-central {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 14px;
}

.texto-central-amarelo {
    color: #F3B72C;
}

.container-imagens-textos {
    display: flex;
    flex-direction: column;
    gap: 1.00em;
}

.container-imagem-texto01 {
    display: flex;
    flex-direction: row;
}

.container-imagem-texto02 {
    display: flex;
    flex-direction: row;
}

.container-textos01 {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.container-textos02 {
    display: flex;
    flex-direction: column;
    padding-left: 21px;
}

.icon-map {
    margin-top: 10px;
    margin-left: 4px;
    /* padding: 0px 0px 0px 5px; */
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 12px;
    }
    .container-texto {
        width: fit-content;
        padding-left: 20px;
        margin-top: 2em;
        gap: 1.2em;

        div {
            width: 85%;
            gap: 10px;
        }

        h1 {
            font-size: 3em;
            line-height: 0.9em;
        }

        button {
            width: fit-content;
            padding: 12px 25px;
            font-size: 0.8em;
        }

        button:hover {
            padding: 12px 30px;
        }
    }

}


@media (min-width: 769px) and (max-width: 1200px) {
    
    .container-texto {
        padding-left: 2em;
        margin-top: 4em;

        h1 {
            font-size: 2.4em;
            line-height: 1em;
        }

        button {
            padding: 10px 2em;
            width: fit-content;
            font-size: 0.8em;
        }

        button:hover {
            padding: 10px 3em;
        
        }
    }

}

@media (min-width: 767px) and (max-width: 992px) {
    .container-texto {
        padding-left: 2em;
        margin-top: 2em;

        div {
            width: 100%;
            gap: 12px;
        }
    }
}