@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

p {
  font-family: "Lexend";
  color: inherit;
}
.custom-popup {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  z-index: 1000;
}

.rbc-event {
  position: relative;
  width: 100%;
  height: 3em;
  box-sizing: border-box;
  background-color: transparent;
  padding: 0;
}
.rbc-show-more {
  display: block;
  background-color: var(--cor-primaria-azul-escuro);
  color: white;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  font-size: 0.8em;
  margin-top: 8px;
  font-weight: 600;
  padding: 3px 5px;
}

.rbc-event-label {
  display: none;
}

.rbc-show-more:active,
.rbc-show-more:hover,
.rbc-show-more:focus {
  background-color: var(--cor-secundaria-amarelo-claro);
  color: var(--cor-primaria-azul-escuro);
}

.rbc-event.rbc-selected,
.rbc-day-slot .rbc-selected.rbc-background-event {
  background-color: transparent;
}

.rbc-overlay .rbc-event .rbc-event-content .container {
  border-radius: 5px;
  padding: 5px;
  color: black;
  position: absolute;
  width: 100% !important;
}

.rbc-btn-group,
.rbc-toolbar-label {
  font-size: 0.8em;
}

.rbc-toolbar button {
  padding: 0.3rem 0.7rem;
}

.rbc-time-content {
  overflow-x: hidden;
}
/* 
.table > :not(caption) > * > * {
  padding: 0.9em 0.2em;
} */

.show > .btn-primary.dropdown-toggle 
{
  border: 1px solid #9a9fa7;

  background-color: transparent;
  color: inherit;
}
.dropdown-menu.show {
  width: 100%;
}

.dropdown-item.active,
.dropdown-item:active {
  border: none;
  color: var(--cor-primaria-azul-escuro);
  background-color: var(--cor-secundaria-amarelo-claro);
}

.dropdown-item {
  font-size: 0.8em;
}

.btn-group-vertical>.btn, .btn-group>.btn {
  justify-content: space-between;
}

.progress-bar {
  width: 55%;
  border-radius: 5px;
}

.bg-danger {
  background-color: var(--cor-vermelho) !important;
}

.modal-content {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.modal-header {
  border-bottom: none;
}

.rbc-overlay > * + * {
  margin: 0.7em 0;
}

.modal-header .btn-close {
  margin: 0em 0em 1.5em 1em;
}

.card {
  width: 100%;
  border: none;
  a {
    text-decoration: none;

    .p-steps-title {
      font-weight: 500;
      font-size: 0.9em;
    }
    .p-steps-number {
      font-weight: 800;
      font-size: 0.9em;
    }
  }

  ol {
    margin: 0;
    padding: 0;
  }
}
.p-steps .p-steps-item.p-highlight .p-steps-title {
  color: var(--cor-primaria-azul-escuro);
  font-weight: 700;
}

.p-steps .p-steps-item.p-highlight .p-steps-number {
  color: var(--cor-primaria-azul-escuro);
  background: var(--cor-secundaria-amarelo-claro);
}

.p-steps .p-steps-item:before {
  top: 62%;

}

.modal-body {
  padding: 0 1rem 1rem 1rem;
}

.react-datepicker-wrapper {
  width: 100%;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: inherit;
  background-color: inherit;
  border-color: #d0d5dd;
}

@font-face {
  font-family: "Montserrat";
  src: url("../utils/fonts/montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../utils/fonts/montserrat//Montserrat-ThinItalic.ttf")
    format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../utils/fonts/montserrat//Montserrat-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../utils/fonts/montserrat//Montserrat-ExtraLightItalic.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../utils/fonts/montserrat//Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../utils/fonts/montserrat//Montserrat-LightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../utils/fonts/montserrat//Montserrat-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../utils/fonts/montserrat//Montserrat-RegularItalic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../utils/fonts/montserrat//Montserrat-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../utils/fonts/montserrat//Montserrat-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../utils/fonts/montserrat//Montserrat-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../utils/fonts/montserrat//Montserrat-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../utils/fonts/montserrat//Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../utils/fonts/montserrat//Montserrat-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../utils/fonts/montserrat//Montserrat-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../utils/fonts/montserrat//Montserrat-ExtraBoldItalic.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../utils/fonts/montserrat//Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../utils/fonts/montserrat//Montserrat-BlackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Lexend";
  src: url("../utils/fonts/lexend/Lexend-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../utils/fonts/lexend/Lexend-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../utils/fonts/lexend/Lexend-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Lexend";
  src: url("../utils/fonts/lexend/Lexend-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../utils/fonts/lexend/Lexend-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../utils/fonts/lexend/Lexend-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../utils/fonts/lexend/Lexend-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../utils/fonts/lexend/Lexend-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../utils/fonts/lexend/Lexend-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
