:root {
    --cor-primaria-azul-escuro: #005472;
    --cor-secundaria-amarelo-claro: #FFD269;
    --cor-secundaria-azul-claro: #AFDDED; 
    --cor-verde: #008337;
    --cor-vermelho: #EB0000;
    --cor-vermelho-escuro: #ac0a0a;
    --cor-destaque-verde-claro: #248900;
}