.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(195, 98%, 21%); 
  background-image: url("../../../utils/assets/site-institucional/inicio/backgroundForms.svg"); 
  background-size: cover; 
  background-position: center;
  padding: 20px;
}

.loginBox {
  background-color: #072838;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  color: white;
  text-align: 'center';
}

h2 {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: 'center';
}

.inputGroup {
  margin-bottom: 20px;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.inputGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.loginButton {
  width: 100%;
  padding: 7px;
  background-color: #01506a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #014358;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.forgotPassword, .voltarButton {
  color: #ffc107;
  text-decoration: none;
}

.helpText {
  margin-top: 20px;
  font-size: 12px;
}

.helpText a {
  color: #ffc107;
}

.registerButton {
  margin-top: 20px;
  padding: 7px;
  width: 100%;
  background-color: #ffc107;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.registerButton:hover {
  background-color: #e6a700;
}

.imageBox {
  margin-left: 125px;
}

.imageBox img {
  border-radius: 20px;
  max-width: 350px;
  height: 450px;
}

