.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(195, 98%, 21%); 
  background-image: url("../../../utils/assets/site-institucional/inicio/backgroundForms.svg"); 
  background-size: cover; 
  background-position: center;
  padding: 20px;
}

.loginBox {
  background-color: #072838;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  color: white;
}

h2 {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

.inputGroup {
  margin-bottom: 20px;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.inputGroup input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.loginButton {
  width: 100%;
  padding: 7px;
  background-color: #01506a;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #014358;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.voltarButton {
  display: flex; /* Permite o uso de flexbox para o alinhamento */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  padding: 7px; /* Espaçamento interno */
  width: 70px; /* Largura do botão */
  height: 40px; /* Altura do botão, opcional */
  color: #000000; /* Cor do texto */
  text-decoration: none; /* Remove sublinhado */
  border-radius: 15px; /* Bordas arredondadas */
  background-color: #ffc107; /* Fundo amarelo */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  border: 1px solid #ffc107; /* Borda amarela (opcional) */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transições suaves */
}

.forgotPassword {
  color: #ffff; 
  margin-bottom: 10px;
  padding: 10px 0;
  align-items: center;
}

.helpText {
  margin-top: 20px;
  font-size: 12px;
}

.helpText a {
  color: #ffc107;
}

.helpText2 {
  color: #ffffff; /* Cor branca do texto */
  margin-bottom: 10px; /* Espaçamento inferior */
  text-decoration: none; /* Remove sublinhado (caso seja um link) */
  padding: 2px 0; /* Espaçamento interno acima e abaixo */
  font-size: 13px;
}


.registerButton {
  font-size: 13px;
  display: flex; /* Permite o uso de flexbox para o alinhamento */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  padding: 7px; /* Espaçamento interno */
  width: 13 0px; /* Largura do botão */
  height: 40px; /* Altura do botão, opcional */
  color: #000000; /* Cor do texto */
  text-decoration: none; /* Remove sublinhado */
  border-radius: 15px; /* Bordas arredondadas */
  background-color: #ffc107; /* Fundo amarelo */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  border: 1px solid #ffc107; /* Borda amarela (opcional) */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transições suaves */
}



.registerButton:hover {
  background-color: #e6a700;
}

.imageBox {
  margin-left: 125px;
}

.imageBox img {
  border-radius: 20px;
  max-width: 350px;
  height: 450px;
}

