* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 2em;
    border-bottom: solid 2px #D4D2E3;
}

.img_menu_mobile {
    color: var(--cor-primaria-azul-escuro);
    cursor: pointer;
}
