.btn-editar, .btn-cancelar-agenda, .btn-cancelar, .btn-salvar {
    padding: .3em .9em;
    font-size: .85em;
    font-weight: 600;
    margin: 0;
    border-radius: .35em;
    width: fit-content;
    height: fit-content;
    border: none;
    font-family: 'Montserrat';
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btn-editar, .btn-salvar {
    background-color: var(--cor-primaria-azul-escuro);
}

.btn-cancelar-agenda  {
    background-color: var(--cor-vermelho-escuro);
}

.btn-cancelar {
    background-color: var(--cor-cinza-escuro);
}

.btn-editar:hover, .btn-cancelar-agenda:hover, .btn-salvar:hover, .btn-cancelar:hover {
    opacity: .85;
    color: #FFF;
}

.btn-editar:hover, .btn-salvar:hover {
    background-color: var(--cor-primaria-azul-escuro);
}

.btn-cancelar-agenda:hover {
    background-color: var(--cor-vermelho-escuro);
}

.btn-cancelar:hover {
    background-color: var(--cor-cinza-escuro);
}