.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%; /* Ajusta a largura máxima do modal para caber melhor */
  max-width: 950px; /* Aumenta o tamanho máximo para acomodar o layout */
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  padding: 24px;
}


.stepContainer {
  list-style: none; /* Remove a bolinha padrão */
  padding: 0; /* Remove o padding */
  display: flex; /* Exibe em linha */
  justify-content: center;
  margin-bottom: 16px; /* Espaço entre a lista e o conteúdo */
}

.stepBox {
  background: #f0f0f0; /* Cor de fundo dos passos */
  border: 2px solid transparent; /* Borda padrão */
  border-radius: 5px;
  padding: 8px 16px; /* Espaçamento interno */
  margin: 0 10px; /* Espaçamento entre os passos */
  transition: border-color 0.3s; 
  font-size: 0.7rem; 
}


.stepBox.active {
  border-color: var(--cor-primaria-azul-escuro); /* Cor da borda para o passo ativo */
  font-weight: bold; /* Negrito para o passo ativo */
}

.progressBar {
  height: 8px;
  width: 100%;
  background: #e0e0e0;
  position: relative;
  margin-bottom: 16px; /* Espaço entre a barra e o conteúdo */
}

.progressFill {
  border-radius: 10px;
  height: 100%;
  background: var(--cor-primaria-azul-escuro);
  transition: width 0.3s; /* Transição suave para a largura da barra */
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
