.modal {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 16px;
  color: #333;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 24px;
  color: #777;
}

.petServicesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.petSection {
  width: calc(50% - 12px);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background-color: #f9f9f9;
}

.petHeader {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.petPhoto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
}

.servicesList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.serviceItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}

.serviceInfo {
  display: flex;
  flex-direction: column;
}

.serviceName {
  font-weight: bold;
  color: #333;
}

.serviceStatus {
  font-size: 0.9rem;
}

.scheduled {
  color: #1e90ff;
}

.pending {
  display: inline-block;
  background-color: #FFE2AC; /* Amarelo */
  color: black;
  font-size: 0.8rem;
  padding: 4px 12px;
  border-radius: 20px; /* Tornar o botão arredondado */
  text-align: center;
  font-weight: bold;
}

.editButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
}

.editButton img {
  width: 16px; /* Tamanho do ícone */
  height: 16px;
}

/* Botões de ação */
.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.cancelButton {
  background-color: #f5f5f5;
  color: #333333;
  padding: 12px;
  width: 45%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
}

.cancelButton:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

.finishButton {
  background-color: var(--cor-primaria-azul-escuro);
  color: #ffffff;
  padding: 12px;
  width: 45%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
}

.finishButton:hover {
  background-color: #003366;
  transform: scale(1.05);
}
