.container {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
  width: 215px;
  padding: 35px 20px;
  background-color: var(--cor-primaria-azul-escuro);
  color: #fff;
  height: 100vh;
  position: fixed; 
  top: 0;
  left: 0;
  transform: translateX(0);
  transition: transform 0.8s ease-in-out;
  z-index: 999;

  h2 {
    font-size: 0.7em;
    font-weight: 600;
    color: #ebebeb;
    margin-bottom: unset;
    line-height: unset;
  }
}
.toggle-btn {
  color: #fff;
  margin-bottom: 3px;
  cursor: pointer;
  transition: all 0.3s ease-in-out; 
}

.sidebar-top {
  display: flex;
  align-items: end;
  justify-content: space-between;

  .icon-sidebar {
    z-index: 1000;
    cursor: pointer;
    padding-bottom: 6px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out; 
  }
  img {
    width: 55%;
  }
}

.sidebar-middle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2em 0;
}

.open {
  transform: translateX(-195px);
}

.icon-sidebar.open {
  transform: rotate(180deg);
  color: var(--cor-primaria-azul-claro);
}

.open-toggle-btn {
  color: var(--cor-primaria-azul-escuro);

  position: absolute;
  top: 60px;
  left: 216px;
  transition: all 0.4s ease-in-out;
}

.sidebar-section-item {
  list-style: none;
  padding: 0;
  margin: 0;

  .item-sidebar {
    div {
      display: flex;
      align-items: center;
      gap: 9px;
      padding: 0.8em 0;

      p {
        font-size: 0.95em;
        font-family: "Montserrat";
        font-weight: 500;
      }

      .icon-section-item,
      p {
        cursor: pointer;
      }
    }
  }
}

.sidebar-bottom {
  .item-sidebar:last-child {
    div {
      padding-bottom: 0;
    }
  }
}

.link-section {
  display: flex;
  text-decoration: none;
  color: inherit;
  transition: color 0.4s ease-in-out;
}

.link-section:hover {
    color: var(--cor-secundaria-amarelo-claro);
}
